

.modal_service{
    background-color: var(--back) !important;
}
.close_exp{
    border: none;
    background-color: transparent;
    color: var(--first-color);
}

.close_exp:hover{
    border: none;
    background-color: transparent;
    color: var(--second-color);
}