.portfolio__tabs{
    text-align: center;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
}

.portfolio__button{
    border-radius: 8px;
    padding: 0px 6px 0px 6px ;
    margin: 2px;
    font-size: var(--h4-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
}

.portfolio__button:hover{
    color: var(--container-color);
    background-color:var(--first-color);
}

.portfolio__icon{
    font-size: 1.6rem;
    margin-right: var(--mb-0-25);
}

.portfolio__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.portfolio__subtitle{
    display: inline-block;
    font-size:var(--small-font-size);
    margin-bottom: var(--mb-1);
}

.portfolio__calendar{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.portfolio__rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
}

.portfolio__line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -7px);
}

.portfolio [data-content]{
    display: none;
}

.portfolio__active[data-content]{
    display: block;
}

.portfolio__button.portfolio__active{
    color: var(--white-color) ;
    font-weight: 600;
    background-color:var(--first-color);
}

/* Active Modal */
.services__container{
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
}

.services__content{
    position: relative;
    background-color: var(--container-color);
    padding: 3.5rem .5rem 1.25rem 1.5rem;
    border-radius: .25rem;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    transition: .3s;
}

.services__content:hover{
    box-shadow: 0 4px 8px rgba(0,0,0,.15);
}

.services__icon{
    display: block;
    font-size: 1.5rem;
    color: var(--first-color);
    margin-bottom: var(--mb-1);
} 

.services__title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
}

.services__button{
    cursor: pointer;
    font-size: var(--small-font-size);
}
/*==================== PORTFOLIO ====================*/

.services__button:hover .button__icon{
    transform: translateX(.25rem);
}

.services__modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: var(--z-modal);
    opacity: 0 ;
    visibility: hidden;
    transition: .3s;
}

.services__modal-content{
    position: relative;
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius:.5rem;
}

.services__modal-service{
    row-gap: 1rem;
}

.services__modal-service{
    display: flex;
}

.services__modal-title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1-5);
}

.services__modal-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--first-color);
    cursor: pointer;
}

.services__modal-icon{
    color: var(--first-color);
    margin-right: var(--mb-0-25);
}

/* Active Modal */
.active-modal{
    opacity: 1;
    visibility: visible;
}

/*==================== PROJECT IN MIND ====================*/
.portfolio__container{
    overflow: initial;
}

.portfolio__content{
    padding: 0 1.5rem;
}

.portfolio__col{
    padding-right: 8px !important;
    padding-left: 8px !important;
}
.portfolio__img{ 
    max-width: 100%;
    border-radius: .5rem;
    justify-self: center;
    cursor: zoom-in;    
    margin: .5rem;
  transition: .5s ease;
}

.portfolio__img:hover{
    opacity: 0.4;
}
.tengah {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.portfolio__title{
    font-size: var(--h3-font-size);
    margin-bottom:var(--mb-0-5);
}

.portfolio__description{
    margin-bottom: var(--mb-0-75);
}

.portfolio__button:hover .button__icon{
    transform: translateX(.25rem);
}


.certificate__container{
    overflow: initial;
}

.certificate__content{
    padding: 0 1.5rem;
}

.certificate__img{
    width: 265px;
    border-radius: .5rem;
    justify-self: center;
    cursor: zoom-in;
}

.certificate__title{
    font-size: var(--h3-font-size);
    margin-bottom:var(--mb-0-5);
}

.certificate__description{
    margin-bottom: var(--mb-0-75);
}

.certificate__button:hover .button__icon{
    transform: translateX(.25rem);
}


.swiper-button-prev::after,
.swiper-button-next::after{
    content: '';
}

.swiper-portfolio-icon, 
.swiper-certificate-icon{
    font-size: 2rem;
    color: var(--first-color);
}

.swiper-button-prev{
    left: -.5rem;
}

.swiper-button-next{
    right: -.5rem;
}

.swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: -1rem;
    z-index:1;
}

.swiper-pagination-bullet-active{
    background-color: var(--first-color);
}

.swiper-button-prev,
.swiper-button-next,
.swipe-pagination-bullets{
    outline: none;
}

/*==================== TESTIMONIAL ====================*/
.project{
    text-align: center;
}

.project__bg{
    background-color: var(--first-color-second);
    padding-top: 3rem;
}

.project__title{
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-0-75);
}

.project__description{
    margin-bottom: var(--mb-1-5);
}

.project__title,
.project__description{
    color: #fff;
}

.project__img{
    width: 232px;
    justify-self: center;
}

/*==================== CONTACT ME ====================*/
.testimonial__data,
.testimonial__header{
    display: flex;
}

.testimonial__data{
    justify-content: space-between;
    margin-bottom: var(--mb-1);
}

.testimonial__img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: var(--font-medium);
}
.testimonial__name{
    padding-left: 8px;
}
.testimonial__client{
    font-size: 16px;
    color: var(--text-color);
    padding-left: 8px;
}


.testimonial__description{
    margin-bottom: var(--mb-2-5);
}

.testimonial__icon-star{
    color: var(--first-color);
}

.swiper-container .swiper-pagination-testimonial{
    bottom: 0;
}

/*==================== FOOTER ====================*/
.contact__container{
    row-gap: 3rem;
}

.contact__information{
    display: flex;
    margin-bottom: var(--mb-2);
}

.contact__icon{
    font-size: 2rem;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
}

.contact__title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.contact__subtitle{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.contact__content{
    background-color: var(--input-color);
    border-radius: .5rem;
    padding:.75rem 1rem .25rem ;
}
/*========== SCROLL UP ==========*/
.contact__label{
    font-size: var(--smaller-font-size);
    color: var(--title-color);
}

.contact__input{
    width: 100%;
    background-color: var(--input-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border:none;
    outline: none;
    padding: .25rem .5rem .5rem 0;
}

/* Show scroll */
.footer{
    padding-top: 2rem;
}

.footer__container{
    row-gap: 3.5rem;
}

.footer__bg{
    background-color: var(--first-color-second);
    padding:2rem 0 3rem;
}

.footer__title{
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-0-25);
}

.footer__subtitle{
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
}

.footer__links{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.footer__link:hover{
    color: var(--first-color-lighter);
}

.footer__social{
    font-size: 1.25rem;
    margin-right: var(--mb-1-5);
}

.footer__social:hover{
    color: var(--first-color-lighter);
}

.footer__copy{
    font-size: var(--small-font-size);
    text-align: center;
    color: var(--text-color-light);
    margin-top: var(--mb-3);
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social{
    color: #fff;
}

/*========== SCROLL BAR ==========*/
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--first-color);
    opacity: .8;
    padding: 0 .3rem;
    border-radius: .4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
}

.scrollup:hover{
    background-color: var(--first-color-alt);
}

.scrollup__icon{
    font-size: 1.5rem;
    color: #fff;
}
.show-scroll{
    bottom: 4rem;
}


::-webkit-scrollbar{
    width: .60rem;
    background-color:var(--scroll-bar-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--scroll-thumb-color);
    background-color: .5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--text-color-light);
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width:350px) {
    .container{
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .nav__menu{
        padding: 2rem .25rem 4rem;
    }
    .nav__list{
        column-gap: 0;
    }
    
    .home__content{
        grid-template-columns: .25fr 3fr;
    }
    
    .experience__data{
        gap: .5rem;
    }

    .services__container{
        grid-template-columns: max-content;
        justify-content: center;
    }
    .services__content{
        padding-right: 3.5rem;
    }
    .services__modal{
        padding: 0 .5rem;
    }

    .project__img{
        width: 200px;
    }

    .testimonial__data,
    .testimonial__header{
        flex-direction: column;
        align-items: center;
    }
    .testimonial__img{
        margin-right: 0;
        margin-bottom: var(--mb-0-25);
    }
    .testimonial__data,
    .testimonial__description{
        text-align: center;
    }

}

/* For medium devices */
@media screen and (min-width:568px){
    .home__content{
        padding-top: 3rem;
        column-gap: 2rem;
        background-image: url('../img/belakangnama.png');
        background-size: 100% 100%;
        align-content: center; 
        margin:  0 3rem  0 3rem  ;
        z-index: 2;
    }
    
    .home__data{
        grid-column-start: 1;
        grid-column-end: 5;
    }
    
    .home{
        height: 100%;
    }
    .home__title1{
        font-size: 2rem;
        font-weight: var(--font-semi-bold);
        letter-spacing: .1rem;
        font-family: var(--body-font);
        display: block;
    }
    .home__title2{
        display: none;
    }
    .home__subtitle1{
        display: block;
        margin: .5rem 0 .5rem 0;
        font-size: 4.5rem;
        color: var(--first-color);
        font-weight: var(--font-bold);
        margin-bottom: .5rem;
        font-family: var(--body-font);

        color: transparent;
	 background-clip: text;
	 background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, var(--first-color), transparent, transparent);
	 -webkit-background-clip: text;
	 animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
    }

    .home__subtitle2{
        display: none;
    }
    @keyframes reveal {
        80% {
            letter-spacing: 4px;
       }
        100% {
            background-size: 300% 300%;
       }
   }
    @keyframes glow {
        40% {
            text-shadow: 0 0 8px var(--first-color);
       }
   }
   .home__description1{
       display: block;
       font-size: 2rem;
       font-weight:  var(--font-semi-bold);
   }
   .home__description2{
       display: none;
   }

    .about__container,
    .skills__container,
    .portfolio__content,
    .project__container,
    .certificate__content,
    .contact__container,
    .footer__container{
        grid-template-columns: repeat(2, 1fr);
    }

    .portfolio__sections{
        display: grid;
        grid-template-columns: .6fr;
        justify-content: center;
    }
    
    .experience__sections{
        display: grid;
        grid-template-columns: .6fr;
        justify-content: center;
    }
 }

 @media screen and (min-width: 768px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    body{
        margin: 0;
    }

    .section{
        padding: 6rem 0 2rem;
    }
    .section__subtitle{
        margin-bottom: 4rem;
    }

    .header{
        top: 0;
        bottom: initial;
    }

    .header,
    .main,
    .footer__container{
        padding: 0 1rem;
    }

    .nav{
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }
    .nav__icon,
    .nav__close,
    .nav__toggle{
        display: none;
    }
    .nav__list{
        display: flex;
        column-gap: 2rem;
    }
    .nav__menu{
        margin-left: auto;
    }
    .change-theme{
        margin: 0;
    }
    

    .home__container{
        text-align: center;
    }
    .home__subtitle1{
        display: block;
        margin: .5rem 0 .5rem 0;
        font-size: 6rem;
        color: var(--first-color);
        font-weight: var(--font-bold);
        margin-bottom: .5rem;
        font-family: var(--body-font);

        color: transparent;
	 background-clip: text;
	 background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, var(--first-color), transparent, transparent);
	 -webkit-background-clip: text;
	 animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
    }

    .home__subtitle2{
        display: none;
    }
    @keyframes reveal {
        80% {
            letter-spacing: 4px;
       }
        100% {
            background-size: 300% 300%;
       }
   }
    @keyframes glow {
        40% {
            text-shadow: 0 0 8px var(--first-color);
       }
   }

    .home__scroll{
        display: block;
    }
    .home__scroll-button{
        margin-left: 3rem;
    }

    .about__container{
        column-gap: 5rem;
    }
    .about__img{
        width: 350px;
    }
    .about__description{
        text-align: initial;
    }
    .about__info{
        justify-content: space-between;
    }
    .about__buttons{
        justify-content: initial;
    }
    
    .experience__tabs{
        justify-content: center;
    }
    .experience__button{
        margin: 0 var(--mb-1);
    }
    .experience__sections{
        grid-template-columns: .5fr;
    }

    .portfolio__tabs{
        justify-content: center;
    }
    .portfolio__button{
        margin: 0 var(--mb-1);
    }
    .portfolio__sections{
        grid-template-columns: 1.5fr;
    }

    .services__container{
        grid-template-columns: repeat(3, 218px);
        justify-content: center;
    }
    .services__icon{
        font-size: 2rem;
    }
    .services__content{
        padding: 6rem 0 2rem 2.5rem;
    }
    .services__modal-content{
        width: 450px;
    }

    .certificate__img{
        width: 320px;
    }
    .certificate__content{
        align-items: center;
    }

    .portfolio__content{
        align-items: center;
    }

    .project{
        text-align: initial;
    }
    .project__bg{
        background: none;
    }
    .project__container{
        background-color:var(--first-color-second);
        border-radius: 1rem;
        padding: 3rem 2.5rem 0;
        grid-template-columns: 1fr max-content;
        column-gap: 3rem;
    }
    .project__data{
        padding-top: .8rem;
    }

    .footer__container{
        grid-template-columns: repeat(3, 1fr);
    }
    .footer__bg{
        padding: 3rem 0 3.5rem;
    }
    .footer__links{
        flex-direction: row;
        column-gap: 2rem;
    }
    .footer__socials{
        justify-self: flex-end;
    }
    .footer__copy{
        margin-top: 4.5rem;
    }
 }

/* For large devices */
@media screen and (min-width: 1024px){
    .header,
    .main,
    .footer__container{
        padding: 0;
    }
    .home__social{
        transform: translateX(-6rem);
    }

    .services__container{
        grid-template-columns:repeat(3,328px);
    }
    .certificate__content{
        column-gap: 5rem;
    }
    .swiper-certificate-icon{
        font-size: 3.5rem;
    }
    .portfolio__content{
        column-gap: 5rem;
    }
    .swiper-portfolio-icon{
        font-size: 3.5rem;
    }
    .swiper-button-prev{
        left: -3.5rem;
    }
    .swiper-button-next{
        right: -3.5rem;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets{
        bottom: 0;
    }

    .contact__form{
        width: 460px;
    }
    .contact__inputs{
        grid-template-columns: repeat(2, 1fr);
    }


    .home{
        /* height: 100vh; */
    }
    .home__title1{
        font-size: 2rem;
        font-weight: var(--font-semi-bold);
        letter-spacing: .1rem;
        font-family: var(--body-font);
        display: block;
    }
    .home__title2{
        display: none;
    }
    .home__subtitle1{
        display: block;
        margin: .5rem 0 .5rem 0;
        font-size: 7.5rem;
        color: var(--first-color);
        font-weight: var(--font-bold);
        margin-bottom: .5rem;
        font-family: var(--body-font);

        color: transparent;
	 background-clip: text;
	 background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, var(--first-color), transparent, transparent);
	 -webkit-background-clip: text;
	 animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
    }

    .home__subtitle2{
        display: none;
    }
    @keyframes reveal {
        80% {
            letter-spacing: 4px;
       }
        100% {
            background-size: 300% 300%;
       }
   }
    @keyframes glow {
        40% {
            text-shadow: 0 0 8px var(--first-color);
       }
   }
   .home__description1{
       display: block;
       font-size: 2rem;
       font-weight:  var(--font-semi-bold);
       margin-bottom: 1rem;
   }
   .home__description2{
       display: none;
   }
    .home__container{
        text-align: center;
    }
    .home__scroll-button{
        margin: 0px;
    }
    .home__data{
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .home__social-icon{
        font-size: 24px;
        margin: .5rem;
    }
    .active-link{
        font-weight: 900;
        display:inline-block;
    border-bottom:2px solid var(--first-color);
    padding:0px 0 8px 0;
    }
    
    .section__title{
        font-size: var(--h1-font-size);
        font-weight: var(--font-bold);
    }
    .section__subtitle{
        font-size: 20px;
    }
    .about__description{
        font-size: 20px;
    }
    .show-scroll{
        bottom: 1rem;
    }

    
    .particle:nth-child(1) {
        height: 117px;
        width: 117px;
        left: 79%;
        top: 38%;
        background: linear-gradient(120deg, #FEF1D9 0%, #4E66FD 100%);
        animation-delay: 0.4s;
        animation-duration: 28s;
        animation-name: float2;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
      }
      
      
      .particle:nth-child(2) {
        z-index: 3;
        height: 175px;
        width: 175px;
        left: 61%;
        top: 21%;
        background: linear-gradient(120deg, #FEF1D9 0%, #4E66FD 100%);
        animation-delay: 0.9s;
        animation-duration: 28s;
        animation-name: floatReverse;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
      }
      
      .particle:nth-child(3) {
          z-index: 3;
        height: 218px;
        width: 218px;
        left: 8%;
        top: 84%;
        background: linear-gradient(120deg, #FEF1D9 0%, #4E66FD 100%);
        animation-delay: 0.5s;
        animation-duration: 22s;
        animation-name: floatReverse2;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
      }
      .particle:nth-child(4) {
        height: 221px;
        width: 221px;
        left: 21%;
        top: 16%;
        background: linear-gradient(120deg, #FEF1D9 0%, #4E66FD 100%);
        animation-delay: 0.9s;
        animation-duration: 39s;
        animation-name: floatReverse2;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
      }  
}
    




/* particle */
  .particle {
    position: absolute;
    border-radius: 50%;
  }
  
  @-moz-keyframes float {
    0%,100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(180px);
    }
  }
  @-webkit-keyframes float {
    0%,100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(180px);
    }
  }
  @keyframes float {
    0%,100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(180px);
    }
  }
  @-moz-keyframes floatReverse {
    0%,100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-180px);
    }
  }
  @-webkit-keyframes floatReverse {
    0%,100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-180px);
    }
  }
  @keyframes floatReverse {
    0%,100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-180px);
    }
  }
  @-moz-keyframes float2 {
    0%,100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(280px);
    }
  }
  @-webkit-keyframes float2 {
    0%,100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(280px);
    }
  }
  @keyframes float2 {
    0%,100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(280px);
    }
  }
  @-moz-keyframes floatReverse2 {
    0%,100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-280px);
    }
  }
  @-webkit-keyframes floatReverse2 {
    0%,100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-280px);
    }
  }
  @keyframes floatReverse2 {
    0%,100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-280px);
    }
  }
  
