@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500;600;700;800&display=swap');/*==================== VARIABLES CSS ====================*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

:root {
    --header-height:3rem ;
  
    /* HSL color mode */
    --first-color: #8C4AF6 ;
    --second-color: #E31A9E ;
    --third-color: #F07AF0 ;
    --white-color: #fff ;
    --title-color: #BEBAC4;
    --card-color: #261D35;
    --modal-back: rgba(0, 0, 0, 0.8);
    --bat2-color: #B286F9;
    --bat3-color: #CBACFB;
    --bat4-color: #BB94FA;
    --bat5-color: #D4BBFC;
    --bat6-color: #D7C0FC;
    --bat7-color: #8C78AB;
    --bat8-color: #8C78AB;
    --bat9-color: #54446E;
    
    

    --back:#130E1B;
    --small: .9rem;
        

    /*========== Font and typography ==========*/
    --body-font: 'Baloo Paaji 2', cursive;

    --btn:linear-gradient(to bottom right, #7743CB 30%, #E31A9E 100%);
    --btn-hover:linear-gradient(to top left, #7743CB 30%, #E31A9E 100%);    
}

body{
  font-family: var(--body-font) !important;
    background-color: var(--back) !important;
    font-size: 1.2rem !important;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;;
    color: var(--title-color) !important;
    font-weight: 400 !important;
}
body::-webkit-scrollbar {
    width: 0px;
  }

  /* Track */
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--first-color);
    border-radius: 4px;
  }

  /* Handle */
  body::-webkit-scrollbar-thumb {
    background: var(--third-color);
    border-radius: 2px;
  }

  /* Handle on hover */
  body::-webkit-scrollbar-thumb:hover {
    background: var(--third-color);
  }
  
  .button_icon{
    margin-left: .2rem !important;
  }
  .button{
    /* display: inline-block; */
    background-image: var(--btn);
      box-shadow: 0 4px 15px 0 var(--first-color);
    color: white;
    padding: .6rem !important;
    border-radius: .5rem;
    font-weight: 500;
  
    background-size: 200% 100%;
  
      moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
  }
  
  .button:hover{
    text-decoration: none !important;
    color: white;
    box-shadow: 0 4px 15px 0 var(--second-color);
    
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    animation: pulse 1s;
  box-shadow: 0 0 0 1em transparent;
  }

  

@keyframes pulse {
  0% { box-shadow: 0 4px 15px 0 var(--second-color); }
}
  
  .title-first{
    position: relative;
    font-size: 2.2rem;
    font-weight: 600;
    display: inline-block;
    letter-spacing: 0.1em;
    padding: 0.2em .8em;
    transition: 100ms;
    overflow: hidden;
}
.title-first{
  color: white;
  text-shadow: 0 0 0.1em var(--first-color), 0 0 0.5em var(--first-color), 0 0 1em var(--first-color);
}

.title-first span{
  position: absolute;
  display: block;
}
.title-first span:nth-child(1){
  top: 0;
  left: -100%;
  width: 100%;
  height: 0.03em;
  background: linear-gradient(90deg, transparent, var(--first-color));
}
.title-first:hover span:nth-child(1), .title-first:focus span:nth-child(1){
  left: 100%;
  padding: 20px;
  transition: 1s ;
}

.title-first span:nth-child(2){
  top: -100%;
  right: 0;
  width: 0.03em;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--first-color));
}
.title-first:hover span:nth-child(2), .title-first:focus span:nth-child(2){
  top: 100%;
  padding: 20px;
  transition: 1s;
}

.title-first span:nth-child(3){
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 0.03em;
  background: linear-gradient(270deg, transparent, var(--first-color));
}
.title-first:hover span:nth-child(3), .title-first:focus span:nth-child(3){
  right: 100%;
  padding: 20px;
  transition: 1s;
}

.title-first span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 0.03em;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--first-color));
}
.title-first:hover span:nth-child(4), .title-first:focus span:nth-child(4){
  bottom: 100%;
  padding: 20px;
  transition: 1s;
}

.title-second{
  margin-top: -1.5rem;
  background: var(--btn-hover);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title-out{
  margin-bottom: 2rem;
  margin-top: 6rem;
}
.title-third{
 color: var(--white-color);
 font-size: 1.25rem;
 letter-spacing: .1rem;
}
.title-fourth{
  text-align: left;
  font-size: 1rem;
  cursor: pointer;
}
.fa-ul {
  text-align: left;
  list-style-type: none;
  margin-left: 1.4em;
  padding-left: 0;
}
.fa-li {
  margin-left: 0rem;
    position: absolute;
}
@media screen and (min-width: 500px){
  .center-horizontal{
          align-items: center;
      }
  }